*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Generic */
/* body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  background-color: #000000;
} */
#main {
  margin: 0 auto;
  align-items: flex-end;
  background: none;
  display: flex;
  justify-content: center;
  position: relative;
  width: 800px;
  height: 500px;

  transform-origin: bottom;

  @media (max-width: 800px) {
    transform: scale(0.7);
  }
  @media (max-width: 700px) {
    transform: scale(0.6);
  }
  @media (max-width: 500px) {
    transform: scale(0.5);
  }
  @media (max-width: 400px) {
    transform: scale(0.3);
  }
}

#monster {
  display: flex;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 330px;
  border-radius: 100%;
  background-color: rgba(153, 255, 255);
  box-shadow: 30px 30px 10px rgba(153, 153, 153, 0.5);
}

#monster_head {
  background: transparent;
  justify-content: center;
  position: relative;
  top: -265px;
  left: 55px;
  border-bottom: 100px solid rgba(153, 255, 255);
  border-top: 100px solid transparent;
  border-left: 100px solid transparent;
  border-right: 150px solid transparent;
  border-radius: 30%;
}

#monster_face {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 200px;
  z-index: 0;
}

#monster_eyes {
  background: transparent;
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: auto;
  z-index: 10;
  position: absolute;
  top: 200px;
  left: 70px;
}
#monster_eye {
  width: 50px;
  height: 20px;
  border-radius: 100%;
  background: #000000;
  z-index: 10;
}
#face_bottom {
  background: none;
}
#blur_left {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: rgba(251, 148, 203, 0.9);
  box-shadow: 0px 0px 5px;
  left: -170px;
  top: 230px;
  z-index: 50;
}
#mouth {
  width: 100px;
  height: 50px;
  background: rgba(153, 255, 255);
  /* -moz-border-radius: 200px / 100px;
  -webkit-border-radius: 200px / 100px; */
  border-radius: 200px / 150px;
  border-bottom: 8px solid rgb(255, 81, 81);
  position: relative;

  left: -125px;
  top: 180px;
  -webkit-animation: talking 1s 4;
  -moz-animation: talking 1s 4;
  -o-animation: talking 1s 4;
  animation: talking 1s 4;
}
#blur_right {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: rgba(251, 148, 203, 0.9);
  box-shadow: 0px 0px 10px;
  left: -10px;
  top: 150px;
  z-index: 50;
}
#eye_shadow {
  width: 50px;
  height: 30px;
  background-color: rgba(153, 255, 255);
  position: relative;
  top: 10px;
  left: -51px;
  z-index: 20;
  border-radius: 100%;
}

@-webkit-keyframes talking {
  0% {
    border-bottom: 3px solid rgb(255, 81, 81);
  }
  50% {
    border-bottom: 20px solid rgb(255, 81, 81);
  }
  100% {
    border-bottom: 3px solid rgb(255, 81, 81);
  }
}

@-moz-keyframes talking {
  0% {
    border-bottom: 3px solid rgb(255, 81, 81);
  }
  50% {
    border-bottom: 20px solid rgb(255, 81, 81);
  }
  100% {
    border-bottom: 3px solid rgb(255, 81, 81);
  }
}

@-o-keyframes talking {
  0% {
    border-bottom: 3px solid rgb(255, 81, 81);
  }
  50% {
    border-bottom: 20px solid rgb(255, 81, 81);
  }
  100% {
    border-bottom: 3px solid rgb(255, 81, 81);
  }
}

@keyframes talking {
  0% {
    border-bottom: 3px solid rgb(255, 81, 81);
  }
  50% {
    border-bottom: 20px solid rgb(255, 81, 81);
  }
  100% {
    border-bottom: 3px solid rgb(255, 81, 81);
  }
}
