#levelBar {
  width: 40%;
  margin: 0 auto;
}

.progress-bar {
  background-color: deeppink;
}

#levcha {
  width: 40%;
  padding: 0;
  margin: 20px auto;
}

.chaimg {
  width: 40%;
  position: fixed;
  right: 0px;
  bottom: 50px;
}
