#levelBar {
  width: 40%;
  margin: 10px;
}

.progress-bar {
  background-color: deeppink;
}

#levcha {
  width: 40%;
  padding: 0;
  margin: 0 auto;
}

.chaimg {
  width: 50%;
  position: fixed;
  right: -200px;
  bottom: 50px;
}
