.rule {
  width: 100vw;
  position: relative;
  margin: 0 auto;
}
.kidslevel {
  display: flex;
  align-items: center;
}
#kidslev {
  display: flex;
  justify-content: center;
  position: relative;
  top: 300px;
  width: 300px;
  height: 330px;
  margin: 0 auto;
}
.text-div {
  width: 100vw;
  height: 10rem;
  margin: 0 auto;
  position: relative;
}
.textrule {
  display: block;
  width: 80vw;
  position: relative;
  margin: 0 auto;
  font-family: "binggrae";
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}
