#profileEdit {
  justify-content: center;
  align-items: center;
  margin: 10%;
}
#photobook {
  margin: 30px;
  width: 80%;
  padding: 10px;
}
#register {
  width: 50%;
  padding: 10px;
  margin: 30px;
}
#delete {
  width: 50%;
  padding: 10px;
  margin: 30px;
}
.inputtag {
  width: 100%;
  padding: 5px 0;
}
