#signup {
  justify-content: center;
  align-items: center;
  margin: 10%;
}

#term {
  width: 100%;
  margin: 10px;
  border: 1px solid grey;
  padding: 20px;
}


.signup-header {
  height: 160px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 20px;
}

#password, #password_check, #name, #birthday, #mobile {
  border: none;
  width: 100%;
  height: 100%;
}
.term-div {
  width: 90%;
  text-align: center;
  margin: 1rem auto;
}
.term-div p{
  font-size: 0.8rem;
  color: #808080;
}
.agree_div {
  display: flex;
  align-items: center;
}
.agree_inner_div{
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#agree_checkbox{
  margin-right: .5rem;
}