.signup-form {
  justify-content: center;
}
.signup-form-email,
.signup-form-password,
.signup-form-confirmPassword,
.signup-form-name,
.signup-form-birthday {
  margin: 30px;
}

input {
  padding: 5px;
}
.signup-form-email input {
  margin-left: 80px;
}
.signup-form-password input {
  margin-left: 51px;
}
.signup-form-confirmPassword input {
  margin-left: 16px;
}
.signup-form-name input {
  margin-left: 87px;
}
.signup-form-birthday input {
  margin-left: 55px;
}
.terms {
  justify-content: center;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 10px;
  width: 38%;
  padding: 10px;
}

.signup-form-agree {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  width: 40%;
}
