.weatherView {
    display: flex;
    justify-content: space-between;
}
.weather {
    /* background-color: black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: end;
    width: 25%;
    padding: 40px;
}
.clock {
    width: 25%;
    padding: 40px;
}
.weather-icon {
    width: 100%;
}
.weather-desc{
    
}