
.timer {
    width: 100%;
    padding: 10rem 20rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-num {
    font-size: 20rem;
}

.seconds {
  font-size: 200px;
  align-items: center;
  text-align: center;
  display: flex;
  position: relative;
  top: 100px;
}
