.gal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.thumbnail {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  margin-top: 20px;

  @media all {
  }

  @media all and (max-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media all and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media all and(max-width: 350px) {
    grid-template-columns: 1fr;
  }
}

.imgComp {
  /* display: flex; */
  width: 100%;
  height: 320px;
}
