 
.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Pretendard';
  align-items: center;
  height: 20%;
  padding-bottom: 1rem;
}
.date {
  font-weight: 300;
  font-size: 3.5rem;
  margin-bottom: 0px;
}
.clock {
  font-weight: 800;
  font-size: 6rem;
  align-items: center;
}
.clock p {
  margin-bottom: 0px;

}
.weather {
  
  text-align: end;
  width: 30%;
  padding-top: 1rem;
}
.weather-address {
  display: flex;
  text-align: end ;
  justify-content: end;
}
.weather-address p {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0px;
}
.weather-icon-box {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.weather-icon {
  width: 50%;
  margin-right:1rem;
}
.weather-temp{
  display: block;
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 0px;
}
.weather-weather{
  margin-bottom: 0px;
  font-size: 2rem;
}