.header {
    display: flex;
    height: 10%;
    position: relative;
}
.clock {
    display: grid;
    height: 100%;
}
.weather {
    /* background-color: black; */
    /* position: absolute; */
    display: grid;
    height: 100%;
}
.weather-icon {
    position: absolute;
    top: 0%;
    height: 100%;
}
